@tailwind base;
@tailwind components;
@tailwind utilities;
$color1: #e73c7e;
$color2: #23a6d5;
$color3: #23d5ab;
$color4: #f5f5dc;
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-size: 30px 30px, 30px 30px;
    background: linear-gradient(-45deg, $color1, $color2, $color3, $color4);
    background-size: 400% 400%;
    animation: gradient 90s ease infinite;
}

// Background
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

// Admin MenuList show / hidden
.hidden-div {
    display: none
}